/*Tuvas css-fil */

@font-face {
  font-family: "myFirstFont";
  src: url("Sex_Pistols.ttf");
}

/*Här berättas det om hur navbarne ska se ut, vilken font det ska vara, att all overflo ska vara gömd.*/
nav {
  display:block;
  text-align:center;
  margin-top:-8px;
  margin-left:-8px;
  top: 0; 
  position: absolute;
  width: 100%;
  font-family: "myFirstFont";
  overflow-y: hidden;
}

/*Att när pekaren är över texten i nav 
kommer den att bli svart och bakrunden kommer bli i lopardmönster*/
.nav-a:hover{
  background: url("leopard.jpg") no-repeat;
  background-size: 200%;
  color: rgb(0, 0, 0);
}

/*Naven är i listform och här talar man om att den inte ska se ut som en lista med punkter*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Ingen dekoration (sträck under texten) i navbaren och att detxten ska avar ljusgrå*/
.nav-a {
	color:#D3D3D3;
	text-decoration:none;
}
/*Var de olikaförslagen i menyn ska vara utplacerade*/
.grid-container-nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

/*Vilen färg menyn ska vara, hur texten ska sitta, vilken storlek den ska ha*/
.grid-item-nav {
  background-color: black;
  padding-top: 40px;
  text-align: center;
  font-size: 3ex;
}

/*Bakgrunds färgen på hela hemsidan och att om det är något overflow i x-led ska det 
inte synas och om det är det i y-led ska man kunna scrolla ner*/
body {
	background-color: #fff;
  overflow-x: hidden; 
  overflow-y: scroll; 
}

/*alla h1:orna ska vara i myfirstfont och hur de ska vara utplacerade*/
h1 {
margin-top: 40px;
margin-left: 14%;
font-family: "myFirstFont";
}

/*Här beskrivs det hur mainen i detta fallet den röda rektangeln 
ska ha avstånd både uppe och nere så att den inte börjar precis vid naven och 
inte slutar precis vid footern*/
main {
	margin-bottom:150px;
  padding-top: 80px; 
}


/*Hur huvud kontentet ska vara utplacerat, alltså hur griden är uppbygd*/
.grid-container-main {
  display: grid;
  grid-template-columns: 14% auto auto auto auto 14%;
  grid-template-rows: 100px 70px 90px auto 100px;
}

.item1b {
  grid-column: 3/ span 2;
  grid-row: 1;
  margin-right: 2px;
  margin-left:10px;
}

/*Det är hur rekangeln ska se ut, vara uppbygd och att 
hörnen ska vara rundade och vilken färg den ska ha*/
.item10 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column: 2;
  grid-row: 1;
  grid-row-end: 8;
  background-color: #bb3221;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom:15px;
  margin-top:0px;
  border-radius: 25px;
}

/*Från item1a till item 1e beskrivs det hur teten 
och bilderna ska vara utplacerade på första sidan (index.html) item1a och item1e är 
texten och item1b, item1c och item1d är bilderna*/
.item1a {
  grid-column: 1/ span 2;
  grid-row: 1;
  margin-left: 5px; 
}
.item1b {
  grid-column: 3/ span 2;
  grid-row: 1;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 40px;
}
.item1c {
  grid-column: 1/ span 1;
  grid-row: 2;
}
.item1d {
  grid-column: 1;
  grid-row: 2;
  margin-left: 170px;
}
.item1e {
  grid-column: 2/ span 3;
  grid-row: 2;
  margin-right: 10px;
  margin-left: 130px;
}

/* Här beskrivs det hur tablen på musik sidan ska vara utplacerad. Det börjar från column 
1 och sträcker sig till kolumn 4. Det är till 4 för att det 
inte ska sitta så tajt och nära, det är spanat för att skapa ett bra och lagom utrymme. Också vilken storlek texten ska ha*/
table {
  width: 100%;
  grid-column: 1 /span 4;
  font-size: 2.5ex;
}


td, th {
  border: 6px;
  text-align: left;
  padding: 15px;
}

/* Det är denna som beskriver hur audio tagen ska se ut på musik sidan. Det står att det 
ska vara en border med rundade hörn och med leopardmönster som "fägren" på borden.*/
audio {
  border-radius: 57px;
  margin-top: 20px;
  border: 15px solid transparent;
  background: url(leopard.jpg);
}


/*item3.. är alla items som är utplacerade på bandsidan. Item3a,e,g,k,m och q 
är all text och var i griden som de ska vara.
Item3b,d,h,j,n och p är alla bilder. resterande Items är youtube klippen*/
.item3a {
  grid-column: 1/ span 2;
  grid-row: 1;
  margin-left: 5px;
}

.item3b {
  grid-column: 3/ span 2;
  grid-row: 1;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 70px;
}

.item3c {
  grid-column: 2;
  grid-row: 2;
}

.item3d {
  grid-column: 1/ span 2;
  grid-row: 3;
  margin-left: 5px;
}

.item3e {
  grid-column: 2/ span 3;
  grid-row: 3;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 130px;
}

.item3f {
  grid-column: 2;
  grid-row:4;
}

.item3g {
  grid-column: 1/ span 2;
  grid-row: 5;
  margin-left: 5px;
}

.item3h {
  grid-column: 3/ span 2;
  grid-row: 5;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 70px;
}

.item3i {
  grid-column: 2;
  grid-row: 6;
}

.item3j {
  grid-column: 1/ span 2;
  grid-row: 7;
  margin-left: 5px;
}

.item3k {
  grid-column: 2/ span 3;
  grid-row: 7;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 130px;
}

.item3l {
  grid-column: 2;
  grid-row:8;
}

.item3m {
  grid-column: 1/ span 2;
  grid-row: 9;
  margin-left: 5px;
}

.item3n {
  grid-column: 3/ span 2;
  grid-row: 9;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 70px;
}

.item3o {
  grid-column: 2;
  grid-row: 10;
}

.item3p {
  grid-column: 1/ span 2;
  grid-row: 11;
  margin-left: 5px;
}

.item3q {
  grid-column: 2/ span 3;
  grid-row: 11;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 130px;
}

.item3r {
  grid-column: 2;
  grid-row:12;
}

/* Här säger det att det ska vara en border runt youtube 
videorna i musik sidan. Den ska ha en border runt med rutigt mönster*/
iframe {
  margin-top: 20px;
  border: 20px solid transparent;
  border-image: url(rutigt.png) 30 round;
}

/*Dessa item4.. är på modesidan. Från Item4a,e,f,j,k och o är alla texter. 
Resterande items är alla bilder som är med*/
.item4a {
  grid-column: 1 / span 5;
  grid-row: 1;
}

.item4b {
  grid-column: 1;
  grid-row: 2;
}
.item4c {
  grid-column: 2;
  grid-row: 2;
}
.item4d {
  grid-column: 3;
  grid-row: 2;
}

.item4e {
  grid-column: 4;
  grid-row: 2;
  margin-left: 10px;
}

.item4f {
  grid-column: 1 / span 5;
  grid-row: 3;
}

.item4g {
  grid-column: 4;
  grid-row: 4;
}
.item4h {
  grid-column: 3;
  grid-row: 4;
}
.item4i {
  grid-column: 2;
  grid-row: 4;
}

.item4j {
  grid-column: 1;
  grid-row: 4;
  margin-left: 10px;
}

.item4k {
  grid-column: 1 / span 5;
  grid-row: 5;
}

.item4l {
  grid-column: 1;
  grid-row: 6;
}
.item4m {
  grid-column: 2;
  grid-row: 6;
}
.item4n {
  grid-column: 3;
  grid-row: 6;
}

.item4o {
  grid-column: 4;
  grid-row: 6;
  margin-left: 10px;
}


/*Detta är hur quiz sidan ska se ut. Quiz1 är texten och quiz2 är hela quizet och 
sen quiz2 - 6 är alla frågor i sig, det är bara där för att de ska 
ha mellanrum mellan varandra*/
.quiz {
  grid-row: 2;
  grid-column: 1/ span 2;
  font-weight: bolder;
  margin-left: 2em;
}

.quiz1 {
  grid-row: 1;
  grid-column: 1/ span 3;
  margin-bottom: 40px;
  margin-left: 2em;
  margin-top: .5rem;
}

.quiz2, .quiz3, .quiz4, .quiz5, .quiz6, .quiz7, .quiz8, .quiz9, .quiz10 {
  margin-bottom: 40px;
}


/* Här beskrivs det hur knapparna längst ned på quiz sidan ska se ut. Dem ska vara 
leopardmönstrade, ska ha 10px padding. Dem ska vara 120px bred sen
när man hovrar över dem blir de bredare och det sker på 2 sekunder*/
#button, #reset {
  background-image: url(leopard.jpg);
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
  padding:10px;
  transition: width 2s;
  width: 120px;
  transition-duration: 0.4s;
}

#reset {
  visibility: hidden;
}

/* När man hovarar över knappen ska den bli 200px bred */
#button:hover, #reset:hover {
  width: 200px;
}

/*Hur fottern ska se ut, vilken färg den ska ha, hr hög och bred den ska vara. 
Vilken färg texten ska ha och att den inte ska ha någon dekoration. 
Sen ska all overflow och vara gömd*/
footer {
	display:block;
	position:absolute;
  width:102%;
	background-color:hsl(7, 70%, 0%);
	height:150px;
	margin-left:-8px;
	text-align:center;
	color:#D3D3D3;
  overflow-y: hidden;
  text-decoration: none;
}

/*Footerns grid system*/
.grid-container-footer {
  display: grid;
  grid-template-columns: 9% 3.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 30px 20px 30px 20px;
}

/*FooterX är logga och var den ska vara utplacerad. 
Footer1 är namnet på hemsidan och var den ska vara utplacerad*/
.footerX {
  grid-column: 1/ span 2;
  grid-row: 2;
  margin-right: 2px;
}

.footer1 {
  grid-column: 2/ span 2;
  grid-row: 2;
}

/*footer2,3,4,5 och 6 är de olika sidornas namn som man kan klicka på. 
Här beskrivs det hur de ska vara utplacerade*/
.footer2 {
  grid-column: 3/ span 2;
  grid-row: 4;
  margin-right: -80px;
}

.footer3 {
  grid-column: 5/ span 1;
  grid-row: 4;
  margin-left: -80px;
}

.footer4 {
  grid-column: 6/ span 1;
  grid-row: 4;
  margin-left: -60px;
}

.footer5 {
  grid-column: 7/ span 1;
  grid-row: 4;
  margin-left: -60px;
}

.footer6 {
  grid-column: 8/ span 1;
  grid-row: 4;
  margin-left: -80px;
}

/*Detta är hur "skapad av Tuav Gunnarsson" texten ska se ut och vara utplacerad*/
.footer7 {
 grid-column: 4/ span 3;
  grid-row: 5;
  margin-bottom: 40px;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 20px;
  color: rgb(84,84,84);

}

